div #About{
    
    color : white;
}
img#poster {
    position : absolute;
    width :350px;
    height: 455px;
    top:120px;
    left:150px;
}
div #About h2 {
    position : absolute;
}
h2#g0{
    top:120px;
    left:600px;
}

h2#g1{
    top:170px;
    left:600px;
}
h2#g2{
    top:220px;
    left:600px;
}
h2#g3{
    top:270px;
    left:600px;
}

h2#g4{
    top:320px;
    left:600px;
}
h2#g5{
    top:370px;
    left:600px;
}

/* div#g6{
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    top: 120px;
    left: 1100px;
    text-align: center;
    vertical-align: middle;
    color: black;
} */

/* 
svg{
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    top: -100px;
    left: 1100px;
    text-align: center;
    vertical-align: middle;
    color: black;
} */
h4#gyu0{
    position: absolute;
    top:270px;
    left:1120px;
    color:red;
}

Button#gyu1{
    position : absolute;
   
    top:500px;
    left:600px;
}
Button#gyu2{
    position : absolute;
   
    top:500px;
    left:750px;
}

Button#gyu3{
    position : absolute;
   
    top:500px;
    left:900px;
}





