@font-face{font-family:'RecipeKorea'; src:url('../font/Recipekorea 레코체 FONT.ttf')}
@font-face{font-family:'RecipeKorea'; src:url('../font/Recipekorea 레코체 FONT.otf')}
@font-face{font-family:'netflix'; src:url('../font/netflix.otf')}
@font-face{font-family:'netflix'; src:url('../font/netflix.ttf')}

div #home{
    position: relative;
    top:20px;
    text-align: center;
    font-family :'netflix'; 
    color :white;
    background-image:url('../img/gg.webp');
    background-repeat:no-repeat;
    background-size: 60% 30%;
    background-position: 50%  -15%;
  }

table{
  position: relative;
  top:100px;
  width:100%;
  text-align: center;
}
td.long
{
 width :65%
}
td.short{
  width:35%
}
video{
  width:400px;
  height:350px;
}


#r-text{
  position: relative;
  right:150px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* button{
    width:200px; 
    left:0;
    right:0; 
   
    margin-left:auto;
    margin-right:auto;

    display:flex;
    justify-content: center;
    align-items:center;
    background:rgb(171, 26, 26);
    color:#fff;
    border:none;
    
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:rgb(43, 36, 36);
    color:rgb(171, 26, 26);
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(171, 26, 26);
    transition:400ms ease all;
  }
  button:after{
    right:0;
    top:0;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  } */
   